/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common / base font family */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f3f1f1;
}

/*-------------------
    Header Area
------------------- */

header{
    background-color: #562eff;
}
.header-area{
    width: 980px;
    margin:auto;

}
.header-content{
    display: flex;
    justify-content: space-between; 
    padding: 25px 0;

}
.menu-area{
    display: flex;
    align-items: center;
    
}

 .menu-area img{
    width: 40px;
    height: 45px;
    margin-right: 5px;
}
.menu-area a{
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    
}
.idea{
    color:#ffffff;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 22px;
}

/* top player style*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 920px;
    background-color: #ffffff;
    padding:30px 30px 0px 30px;
    margin-top: 20px;
    border-radius: 7px;
}
h2{
    font-size: 24px;
    color: rgb(40, 40, 202);
    margin-top: 0px;
    margin-bottom: 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 20px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 55px;
    height: 55px;
    
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
  
}
hr{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Top Blogs style start  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin-top: 20px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 180px;
    height: 120;
}
.blog-info {
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.blog-info p{
    color: #9f9f9f;
}
.blog-info a{
    text-decoration: none;
    font-size: 16px;
}


/* Lates Course */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course-info{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.course .banner img{
    width: 225px;
    height: 105px;
}
.fas{
    font-size: 12px;
}
.fa-star{
    color: #ffc014;
}
.fa-star.filled{
    color: #aeaeae;
}
.clock{
    background-color: rgb(245, 160, 145);
    border-radius: 20px;
   
}
.fa-clock{
    padding: 5px;
    color: rgb(218, 94, 72);
}
.time{
    padding: 5px;
    color: rgb(190, 60, 60);
}

/*-------------------------
      Media Quer
 -------------------------*/
 /* Mobile Screen */
 @media only screen and (max-width:688px){
     .container{
         width: 100%;
     }
     .players, .blogs, .courses{
         grid-template-columns: repeat(1, 1fr) ;
        
     }
     .header-area{
        width: 100%;
    }
     .player, .blog, .course, .header-content{
         flex-direction: column;
         align-items: center;
     }
     
 }

 /* Taplat divice */
 @media only screen and (min-width:689px) and (max-width:991px) {
     .container{
         width: 100%;
     }
     .players, .courses{
         grid-template-columns: repeat(2, 1fr);
     }
     .blogs{
         grid-template-columns: repeat(1, 1fr);
     }
     .blog{

        justify-content: center;
         align-items: center;
     }
     .header-area{
         width: 100%;
     }
     .header-content{
         flex-direction:column ;
         align-items: center;
     }
     /* .menu-area{
         flex-direction: column;
     } */
 }
