/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common / base font family */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f3f1f1;
}
/* top player style*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 920px;
    background-color: #ffffff;
    padding:30px 30px 0px 30px;
    margin-top: 20px;
    border-radius: 7px;
}
h2{
    font-size: 24px;
    color: rgb(40, 40, 202);
    margin-top: 0px;
    margin-bottom: 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 20px;
    
}
.player{
    display: flex;/* player er vitore ja kisu thakbe sobi flex hoa jabe */
    align-items: center;
}
.player img{
    width: 55px;
    height: 55px;
    
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
  
}
hr{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Top Blogs style start  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    margin-top: 20px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 180px;
    height: 120;
}
.blog-info {
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.blog-info p{
    color: #9f9f9f;
}
.blog-info a{
    text-decoration: none;
    font-size: 16px;
}


/* Lates Course */

.coureses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.coures-info{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.coures .banner img{
    width: 225px;
    height: 105px;
}
.fas{
    font-size: 12px;
}
.fa-star{
    color: #ffc014;
}
.fa-star.filled{
    color: #aeaeae;
}
.clock{
    background-color: rgb(245, 160, 145);
    border-radius: 20px;
    width: 120px;
    height: 25px;
}
.fa-clock{
    padding: 5px;
    color: rgb(218, 94, 72);
}
.time{
    padding: 5px;
    color: rgb(190, 60, 60);
}